.stop {
  position: relative;
  background-color:#ff5d5d;
  z-index: 1;
}

.start {
  position: relative;
  background-color: #57d065;
  z-index: 1;

}

.base {
  position: relative;
  color: rgb(4, 75, 75);
  background: rgba(178, 223, 227, 0.3);
  z-index: 1;
}

