.stop {
  position: relative;
  background-color:#f29d6c;
  z-index: -6;
}

.start {
  position: relative;
  background-color: #a4bf5f;
  z-index: -6;

}

.base {
  position: relative;
  background: rgba(178, 223, 227, 0.3);
  z-index: -6;
}

