.stop {
  /* position: relative; */
  background-color: rgb(240, 87, 87);
  /* z-index: -2; */
}

.start {
  /* position: relative; */
  background-color: #5da793;
  /* z-index: -2; */
}

/* .base {
  position: relative;
  color: rgb(4, 75, 75);
  background: rgba(178, 223, 227, 0.3);
  z-index: 1;
} */

