button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* color: #000000; */
  padding: 2px;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.21, 0.8, 0.45, 1);
  box-shadow: 0 5px 5px rgba(103, 2, 2, 0.38);
  font-size: 1rem;
  margin: 0.1rem;
}

/* Aidan how to apply style to Play button */
button.trl {
  padding: 8px;
  background-color: rgb(240, 87, 87);

}
button.tsc {
  padding: 8px;
  background-color: #5da793;
}
button.pause {
  padding: 8px;
  background-color: rgb(194, 72, 72);
}

button.switch {
  padding: 8px;
  background-color: #b1b1b1;

}

button.pausecont {
  padding: 8px;
  background-color: #f08b2c;

}

button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.24);
  border-color: rgb(213, 213, 213);
}

button:active {
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}
