button {
  font-family: "Lucida Console", Monaco, monospace;
  color: #0e5b78;
  padding: 1px;
  border-width: 1px;
  border-radius: 3px;
  transition: all 0.5s cubic-bezier(0.21, 0.8, 0.45, 1);
  box-shadow: 0 6px 6px rgba(0,0,0,0.38);
}

/* Aidan how to apply style to Play button */
button.play {
  padding: 85px;
}

button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.24);

}

button:active {
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}
