span,
p {
  color:  #0e5b78;
}
span.rna {
  padding: 4px 0px;
  color: #0c3d55;
  background-color: #ebc844;
}
span.antiC {
  padding: 4px;
  color: #ebc844;
  background-color:#0c3d55;
}

span.frame1 {
  color: #c02e1d;
  background-color:#ebc844;
}

span.frame2 {
  color:  #0e5b78;
  background-color:#a3b96c;
}

span.frame3 {
  color:#0c3d55;
  background-color: #5da793;
}

span.backF1 {
  padding: 3px;
  background-color: #5da793;
}

span.backF2 {
  padding: 3px;
  background-color: #ecaa38;
}

span.backF3 {
  padding: 3px;
  background-color: #a3b96c;
}

hr {
  border: 1px solid;
  color: #5da793;
}

h2 {
  color: #0e5b78;
}
.green {
  color: green;
}

.red {
  color: red;
}
.one{
  color: #1396ba;
}
.two{
  color: #117899;
}
.thr{
  color: #0e5b78;
}
.fou{
  color: #0c3d55;
}
.fiv{
  color: #c02e1d;
}
.six{
  color: #d94e1f;
}
.sev{
  color: #f16c21;
}
.eig{
  color: #f08b2c;
}
.nin{
  color: #ecaa38;
}
.ten{
  color: #ebc844;
}
.ele{
  color: #a3b96c;
}
.twe{
  color: #5da793;
}


/* .button {
  background-color: #4CAF50;
} */

.circle {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  background: #f16c21;
}
.circle2 {
  padding: 6px 0px 6px 0px;
  border-radius: 50%;
  background: #f16c21;
}

  div {
    font-family: "Lucida Console", Monaco, monospace;
    width: 1000px;
    padding: 4px 0px;
  }

.pre {
  white-space: pre;
}

.ribosomeSmall {
  position: absolute;
  top: 320px;
  left: 430px;
  background: #f16c21;
  border-radius: 50%;
  width: 200px;
  height: 100px;
  opacity: 0.5;
  z-index: -1;
}
.ribosomeBig {
  position: absolute;
  top: 170px;
  left: 380px;
  background: #0e5b78;
  border-radius: 50%;
  width: 300px;
  height: 190px;
  opacity: 0.4;
  z-index: 1;

}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

span:empty {
  display: none;
}
