:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1080px;
  margin: auto;
  padding: 26px;
  border: 4px solid #c2d6de;
  background-color: rgb(249, 249, 235);
}

.player-container {
  font-family: "Lucida Console", Monaco, monospace;
  overflow-y: visible;
  overflow-x: auto;
  background-color: rgb(228, 221, 191);
  padding: 10px;
  border: 10px solid rgb(220, 216, 204);
  opacity: 0.8;
  z-index: -100;
}

.player {
  padding-top: 50px;
  padding-bottom: 10px;
  position: relative;
  width: 900px;
}

.row {
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  /* content: ""; */
  /* display: table; */
  clear: both;
}
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
}

p {
  color:  #0e5b78;
}

span {
  color: #c41b08;
}

span.dark {
  font-size: 1.2rem;
  color: #093d50;
}

small {
font-style: italic;
color: #a03327;
}

hr {
  border: 0.5px solid;
  color: #093d50;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0b3b4d;
  margin: 1rem 0 0.5rem 0;
}

/* very important to print spaces to screen
in the RNA string in tsc mode (reverse) */
.pre {
  white-space: pre;
  color:  #0e5b78;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

span.antiC {
  position: absolute;
  left: 499px;
  top: 175px;
  padding: 4px 0px;
  color: #ebc844;
  background-color:#932c2c;
  z-index: 1;
  opacity: 1;
}

.playhead {
  position: absolute;
  top: 47px;
  left: 497px;
  border: 2px solid #f16c21;
  width: 29px;
  height: 172px;
  background-color: #ccd2d5;
  opacity: 0.2;
  z-index: 1;
}

.triangle-left {
  position: absolute;
  padding: 0px 0px;
  top: 65px;
  left: 570px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #c02e1d;
  border-bottom: 10px solid transparent;
  box-shadow: 10px 0 8px -6px rgb(36, 28, 28);

}

.triangle-left.f2 {
  top: 99px;
}

.triangle-left.f3 {
  top: 132px;
}

.playrev {
  position: absolute;
  top: 91px;
  left: 496px;
  border: 2px solid #c02e1d;
  width: 11px;
  height: 50px;
  opacity: 0.4;
  z-index: -1;
}

/* color and background to sliding AA residues
____________________________________________*/
span.frame1 {
  color: #ae736c;
  background-color:#ebc12b;
}
span.frame2 {
  color:  #2b6378;
  background-color:#9cba50;
}
span.frame3 {
  color:#22495c;
  background-color: #47a78e;
}

/* help to position text label to sliding window */
.orf {
  margin-left: 60px;
  position: absolute;
  left: 540px;
}

.circle {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  background: #f16c21;
  box-shadow: 10px 10px 8px -6px rgb(36, 28, 28);
  border-width: 5px;
}

/* .circle2 {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  background: #f16c21;
  margin-left: 7px;
} */

.shadow {
  box-shadow: 0 10px 8px -6px rgb(36, 28, 28);
}

.ribosomeSmall {
  position: absolute;
  top: 150px;
  left: 425px;
  background: #ff2600;
  border-radius: 50%;
  width: 200px;
  height: 80px;
  opacity: 0.9;
  z-index: -10;
}
.ribosomeBig {
  box-shadow: 0 20px 8px -6px rgb(36, 28, 28);
  position: absolute;
  top: 30px;
  left: 370px;
  background: #1e6179;
  border-radius: 50%;
  width: 300px;
  height: 180px;
  opacity: 0.6;
  z-index: -2;
}

.replicase {
  position: absolute;
  top: 70px;
  left: 455px;
  background: #5da793;
  border-radius: 50%;
  width: 150px;
  height: 100px;
  opacity: 0.6;
  z-index: -9;
}

.replicase.p1 {
  top: 40px;
  left: 415px;
  background: #1396ba;
  width: 80px;
  height: 80px;
  opacity: 0.9;
  z-index: 1;

}

.replicase.p2 {
  top: 100px;
  left: 375px;
  background: #117899;
  width: 80px;
  height: 100px;
  opacity: 0.7;
  z-index: -3;

}
.replicase.p3 {
  top: 130px;
  left: 410px;
  background: #0e5b78;
  width: 70px;
  height: 50px;
  opacity: 0.7;
  z-index: -4;
}

.replicase.p4 {
  top: 110px;
  left: 385px;
  background: rgb(215, 149, 111);
  width: 50px;
  height: 60px;
  opacity: 0.6;
  z-index: -5;
}

.replicase.p5 {
  top: 100px;
  left: 415px;
  background: #d94e1f;
  width: 80px;
  height: 80px;
  opacity: 0.7;
  z-index: -1;

}
.replicase.p6 {
  top: 40px;
  left: 380px;
  background: #d94e1f;
  width: 70px;
  height: 50px;
  opacity: 0.7;
  z-index: -7;
}

/* stop start indicators */
/* _____________________ */
.stopStartFlash {
  background: #f14721;
  border: crimson;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  box-shadow: 10px 10px 12px -6px rgb(36, 28, 28);
  opacity: 1;
  z-index: 10;
  white-space: pre;
}
.stopStartFlash.start {
  background: #59d54e;
}
/* --------------------- */
/*  three rows - lot of buttons!!! */
/* affects spacing between buttons */


/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 601px) {

}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #5da793;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0e5b78;
}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.fullwidth {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}
