:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid rgb(133, 133, 133);
  background-color: rgb(242, 242, 242);
}

.player-container {
  font-family: "Lucida Console", Monaco, monospace;
  max-width: 1000px;
  min-width: 800px;
  overflow-y: visible;
  overflow-x: auto;
  background-color: rgb(254, 254, 254);
  padding: 10px;
  padding-left: 25px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 8px;
  opacity: 0.8;
  z-index: -100;
  min-height: 270px;
}

.player {
  padding-top: 50px;
  padding-bottom: 10px;
  position: relative;
}

fieldset {
  border: 1px solid rgb(133, 133, 133);
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}


@media (max-width: 900px) {
  /* .row {
    flex-direction: column;
  } */
}

p {
  color:  #000000;
}

span {
  color: #000000;
}

.highlight {
  color: #a00202;
}

/* only forsmall passive buttons */
.button.legend {
  background-color: #b1b1b1;
  padding: 6px 6px;
  /* display: inline-block; */
}
.button.legend2 {
  background-color: #5da793;
  padding: 6px 6px;
  /* display: inline-block; */
}
.button.legend3 {
  background-color: #f08b2c;
  padding: 6px 6px;
  /* display: inline-block; */
}

small {
font-style: italic;
color: #a03327;
}

hr {
  border: 0.5px solid;
  color: rgb(133, 133, 133);

}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  margin: 0 0;
}

.block {
  display: inline-block;
}
.playCont_text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* very important to print spaces to screen
in the RNA string in tsc mode (reverse) */
.pre {
  white-space: pre;
  color:  #000000;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.message {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 1rem;
  /* position: absolute; */
  /* top: 170px; */
  /* left: 220px; */
  color:#b12a2a;
  z-index: 3;
}

span.antiC {
  position: absolute;
  left: 403px;
  top: 175px;
  padding: 4px 0px;
  color: #ebc844;
  background-color:#932c2c;
  z-index: 3;
  opacity: 1;
}

.playhead {
  position: absolute;
  top: 48px;
  left: 400px;
  border: 2px solid #787777;
  width: 31px;
  height: 172px;
}

.triangle-left {
  position: absolute;
  padding: 0px 0px;
  top: 65px;
  left: 474px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #c02e1d;
  border-bottom: 10px solid transparent;
  /* box-shadow: 10px 0 8px -6px rgb(36, 28, 28); */
  /* z-index: 3; */
}

.triangle-left.f2 {
  top: 99px;
}

.triangle-left.f3 {
  top: 132px;
}

.playrev {
  position: absolute;
  top: 95px;
  left: 400px;
  border: 2px solid #3e3d3d;
  width: 12px;
  height: 42px;
}

/* color and background to sliding AA residues
____________________________________________*/
span.frame1 {
  /* color: #000000; */
  background-color:#f08b2c;
}
span.frame2 {
  /* color:  #000000; */
  background-color:#5da793;
}
span.frame3 {
  /* color:#000000; */
  background-color: #b1b1b1;
}

/* help to position text label to sliding window */
.orf {
  /* margin-left: -36px; */
  position: absolute;
  left: 504px;
  /* z-index: 3; */
}

.circle {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  /* background: #f16c21; */
  /* box-shadow: 10px 10px 8px -6px rgb(36, 28, 28); */
  /* border: 1px solid rgb(0, 0, 0); */
}

.shadow {
  box-shadow: 0 10px 8px -6px rgb(36, 28, 28);
}

.ribosome {
  text-align: right;
  position: absolute;
  left: 274px;
  border-radius: 50%;
  width: 300px;
  opacity: 0.6;
  font-size: 0.8rem;
}

.ribosome.Big {
  top: 30px;
  background: #1396ba;
  height: 180px;
  color: #323131;
  z-index: -1;
}

.ribosome.Small {
  top: 150px;
  background: #d94e1f;
  height: 80px;
  z-index: -3;
}

.replicase {
  position: absolute;
  top: 70px;
  left: 359px;
  background: #1396ba;
  border-radius: 50%;
  width: 170px;
  height: 120px;
  opacity: 0.8;
  z-index: -3;
  text-align: right;
  font-size: 0.8rem;
}

.replicase.p1 {
  top: 40px;
  left: 319px;
  background: #1396ba;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.replicase.p2 {
  top: 120px;
  left: 299px;
  background: #1396ba;
  width: 90px;
  height: 120px;
  z-index: 1;
}
.replicase.p3 {
  top: 142px;
  left: 354px;
  background: #d94e1f;
  width: 90px;
  height: 70px;
  z-index: -1;
}

.replicase.p4 {
  top: 100px;
  left: 329px;
  background: #d94e1f;
  width: 70px;
  height: 80px;
  z-index: -2;
}

.replicase.p5 {
  top: 135px;
  left: 444px;
  background: #d94e1f;
  width: 120px;
  height: 90px;
  z-index: -4;

}
.replicase.p6 {
  top: 40px;
  left: 284px;
  background: #d94e1f;
  width: 70px;
  height: 50px;
  z-index: -7;
}

/* stop start indicators */
/* _____________________ */
/* .stopStartFlash {
  background: rgb(240, 87, 87);
  border-radius: 50%;
  margin-left: -23px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 18px;
  height: 18px;
  display: inline-block;
  z-index: 10;
}
.stopStartFlash.start {
  background: #5da793;
  ;
  ;
} */

/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 601px) {

}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  /* border: 1px solid #ddd;
  background-color: #e8e7e7; */

}

th {
  text-align: left;
  padding: 16px;
  background-color: #cecccc;
}
td {
  text-align: left;
  padding: 16px;
}


tr:nth-child(even) {
  background-color: #dcdbdb;
}

input {
  width: 20px;
  height: 20px;
}
