span,
p {
  color:  #0e5b78;
}
span.rna {
  padding: 4px 0px;
  color: #0c3d55;
  background-color: #ebc844;
}

span.antiC {
  position: absolute;
  left: 499px;
  top: 321px;
  padding: 4px 0px;
  color: #ebc844;
  background-color:#0c3d55;
}

.playhead {
  position: absolute;
  top: 187px;
  left: 497px;
  border: 2px solid #f16c21;
  width: 29px;
  height: 172px;
  opacity: 0.4;
}

.triangle-left {
  position: absolute;
  padding: 0px 0px;
  top: 195px;
  left: 570px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #c02e1d;
  border-bottom: 10px solid transparent;
}

.triangle-left.f2 {
  top: 225px;
}

.triangle-left.f3 {
  top: 255px;
}

.playrev {
  position: absolute;
  top: 249px;
  left: 497px;
  border: 2px solid #c02e1d;
  width: 11px;
  height: 50px;
  opacity: 0.4;
  z-index: -1;

}

span.frame1 {
  color: #c02e1d;
  background-color:#ebc844;
}

span.frame2 {
  color:  #0e5b78;
  background-color:#a3b96c;
}

span.frame3 {
  color:#0c3d55;
  background-color: #5da793;
}

span.backF1 {
  padding: 3px;
  background-color: #5da793;
}

span.backF2 {
  padding: 3px;
  background-color: #ecaa38;
}

span.backF3 {
  padding: 3px;
  background-color: #a3b96c;
}
span.modeTitle {
  margin-left: 600px;
  padding: 3px;
  background-color: #ecaa38;
}

hr {
  border: 1px solid;
  color: #5da793;
}

h2 {
  color: #0e5b78;
}
/* .stop {
  color:  #0e5b78;
  background-color:#a3b96c;}

.start {
  color: #f08b2c;
  background-color: #117899;
} */
.one{
  color: #1396ba;
}
.two{
  color: #117899;
}
.thr{
  color: #0e5b78;
}
.fou{
  color: #0c3d55;
}
.fiv{
  color: #c02e1d;
}
.six{
  color: #d94e1f;
}
.sev{
  color: #f16c21;
}
.eig{
  color: #f08b2c;
}
.nin{
  color: #ecaa38;
}
.ten{
  color: #ebc844;
}
.ele{
  color: #a3b96c;
}
.twe{
  color: #5da793;
}


/* .button {
  background-color: #4CAF50;
} */

.circle {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  background: #f16c21;
}

.circle2 {
  padding: 4px 0px 4px 0px;
  border-radius: 50%;
  background: #f16c21;
  margin-left: 7px;
}

div {
  font-family: "Lucida Console", Monaco, monospace;
  width: 1000px;
  padding: 4px 0px;
  left: 50px;
}

.txt {
  font: italic 1rem Georgia, Times, serif;
  color: #611b21;
}

div.relative {
  position: relative;
}

div.absolute {
  position: absolute;
  top: 400px;
  left: 0px;
}

.pre {
  white-space: pre;
}

.drop {
  margin-bottom: 6px;
}

.ribosomeSmall {
  position: absolute;
  top: 300px;
  left: 425px;
  background: #f16c21;
  border-radius: 50%;
  width: 200px;
  height: 80px;
  opacity: 0.5;
  z-index: -10;
}
.ribosomeBig {
  position: absolute;
  top: 180px;
  left: 370px;
  background: #0e5b78;
  border-radius: 50%;
  width: 300px;
  height: 180px;
  opacity: 0.4;
  z-index: 1;
}

.replicase {
  position: absolute;
  top: 230px;
  left: 455px;
  background: #5da793;
  border-radius: 50%;
  width: 150px;
  height: 100px;
  opacity: 0.7;
  z-index: -9;
}

.replicase.p1 {
  top: 200px;
  left: 415px;
  background: #1396ba;
  width: 80px;
  height: 80px;
  opacity: 0.7;
  z-index: -1;

}

.replicase.p2 {
  top: 260px;
  left: 375px;
  background: #117899;
  width: 80px;
  height: 100px;
  opacity: 0.7;
  z-index: -3;

}
.replicase.p3 {
  top: 290px;
  left: 410px;
  background: #0e5b78;
  width: 70px;
  height: 50px;
  opacity: 0.7;
  z-index: -4;

}

.replicase.p4 {
  top: 270px;
  left: 385px;
  background: #f16c21;
  width: 50px;
  height: 60px;
  opacity: 0.6;
  z-index: -5;

}

.replicase.p5 {
  top: 260px;
  left: 415px;
  background: #d94e1f;
  width: 80px;
  height: 80px;
  opacity: 0.7;
  z-index: -4;

}
.replicase.p6 {
  top: 200px;
  left: 380px;
  background: #d94e1f;
  width: 70px;
  height: 50px;
  opacity: 0.7;
  z-index: -7;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

span:empty {
  display: none;
}

.orf {
  margin-left: 70px;
}

/* stop start indicators */
.buttonEffect {
  background: #f16c21;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: -1;
  white-space: pre;
}
.buttonEffect.start {
  background: #9ebd50;
}

.feature-button {
  margin: 0px 1px 0px 1px;
}

.feature-button p {
  margin: 4px 2px 4px 2px;
}

